@model HomeViewModel
@using eShopSolution.ViewModels.Catalog.Products;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}

@{
    ViewData["Title"] = "Home Page";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://localhost:5003/img/hotdeal.png" alt="Image 1">
    </div>

    <div class="item">
      <img src="https://localhost:5003/img/hotdeal.png" alt="Image 2">
    </div>

    <div class="item">
      <img src="https://localhost:5003/img/hotdeal.png" alt="Image 3">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left fa fa-arrow-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-left fa fa-arrow-right"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm mới</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Smartphones</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                @foreach (var item in Model.LatestProducts)
                                {
                                    var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                    <div class="product">
                                        <div class="product-img">
                                            <a style="height:214px;" href="@url">
                                                <img style="margin-left:auto;margin-right:auto;display:block" height="214" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name">
                                            </a>
                                            <div class="product-label">
                                                @if (item.Stock <= 0)
                                                {
                                                    <span class="sale">Hết hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="new">Mới</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">@item.Category.Name</p>
                                            <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                            <h4 class="product-price">@item.Price.ToString("N0") <span>&#8363;</span></h4>
                                        </div>
                                        @if (item.Stock <= 0)
                                        {

                                        }
                                        else
                                        {
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> thêm vào giỏ hàng</button>
                                            </div>
                                        }

                                    </div>
                                }
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Ngày</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Tiếng</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Phút</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Giây</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">Ưu đãi hot tuần này</h2>
                    <p>Giảm lên đến 50%</p>
                    <a class="primary-btn cta-btn" href="#">Mua ngay</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Bán chạy</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                @foreach (var item in Model.LatestProducts)
                                {
                                    var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                    <div class="product">
                                        <div class="product-img">
                                            <a style="height:214px;" href="@url">
                                                <img style="margin-left:auto;margin-right:auto;display:block" height="214" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name">
                                            </a>
                                            <div class="product-label">
                                                @if (item.Stock == 0)
                                                {
                                                    <span class="sale">Hết hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="new">Mới</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">@item.Category.Name</p>
                                            <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                            <h4 class="product-price">@item.Price.ToString("N0") <span>&#8363;</span></h4>
                                        </div>
                                        @if (item.Stock == 0)
                                        {

                                        }
                                        else
                                        {
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> thêm vào giỏ hàng</button>
                                            </div>
                                        }

                                    </div>
                                }
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
